################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MagicMirror/v15/Server/sqlite3
/MagicMirror/bin/x86/Debug
